.teams-title {
  text-align: center;
  margin-top: 2rem;
}

.teams-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem; 
  padding: 2rem;
  margin: 0 auto;
  max-width: 1400px; 
  justify-content: center; 
}

@media (max-width: 1200px) {
  .teams-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .teams-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .teams-container {
    grid-template-columns: 1fr;
  }
}
