.teams-title {
  text-align: center;
  margin-top: 2rem;
}

.search-input {
  padding: 0.75rem;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 2rem auto;
  display: block;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
}


.teams-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem; 
  padding: 2rem;
  margin: 0 auto;
  max-width: 1400px; 
  justify-content: center; 
}

@media (max-width: 1200px) {
  .teams-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .teams-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .teams-container {
    grid-template-columns: 1fr;
  }
}
